#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 100;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}

#search-box {
    position: absolute;
    top: 50%;
    left: 28%
}

#homeFind {
    color: #ffffff;
    font-weight: 100;
    font-size: 16;

}


.searchbox, .fulladdress, .traffic, .schoolNearby{
    background-color: yellow;
    margin: 50px;
}
#map{
    float: right;
    width: 30%;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 5px #BD6AEE;
}

body {
    background-image: url("../images/cityview2.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;

}

#hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background-color: rgba(0,0,0,0.3);
}

.mapboxgl-marker{
    width:25px;
    height:25px;
    border-radius: 50%;
    cursor:pointer;
    background-color: red;
}


.mapnone{
    display: none;
}