#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 20px;
}

#search-box {
    position: absolute;
    top: 35%;
    left: 28%
}

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("assets/images/cityview2.jpg")
    no-repeat center center fixed;
    background-size: cover;
    background-position: center;


}
/*body {
    background-color: black;
}*/

.searchbox, .fulladdress, .traffic, .schoolNearby{
    background-color: yellow;
    margin: 50px;
}
.mapimage, .map{
    background-color: blue;
    float: right;
    width: 30%;
    margin: 50px;
}

/*.map{
    position: fixed;
    float: right;

}*/